.container-home {
  width: 100%;
  height: 100vh;
}

.container-home .container-title {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
}

.container-home .container-title h1 {
  color: #fff;
  letter-spacing: 1.2px;
}

.container-home .container-title h1 span {
  color: var(--gold);
}

.container-home .container-content .container-console {
  position: absolute;
  z-index: 2;
  top: 600px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #13131a;
  width: 75%;
  height: 550px;
  border-radius: 15px;
  margin-bottom: 30px;
  background-color: #1d1e26;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}

.container-home .container-content .back-color {
  position: absolute;
  top: 320px;
  right: 0;
  bottom: 0;
  left: 150px;
  width: 80%;
  height: 90%;
  background-image: radial-gradient(
    circle at 100%,
    var(--cyan) 0%,
    var(--orange) 40%,
    var(--pink) 60%,
    var(--green) 80%,
    var(--purple) 100%
  );
  background-image: radial-gradient(ellipse at top, var(--cyan), var(--purple)),
    radial-gradient(ellipse at bottom, var(--orange), var(--green));
  background-image: radial-gradient(
    circle at 100%,
    var(--purple) 0%,
    var(--cyan) 100%
  );
  filter: blur(90px) brightness(0.95);
  z-index: 1;
}

.container-home .container-content .container-console .console .nav-console {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #3f3f3f;
}

.container-home
  .container-content
  .container-console
  .console
  .nav-console
  .item {
  margin-top: 15px;
  margin-left: 15px;
  display: inline-block;
}

.container-home
  .container-content
  .container-console
  .console
  .nav-console
  .item
  .rojo {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f55;
}

.container-home
  .container-content
  .container-console
  .console
  .nav-console
  .item
  .amarillo {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f1fa8c;
}

.container-home
  .container-content
  .container-console
  .console
  .nav-console
  .item
  .verde {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #50fa7b;
}

.container-home .container-content .container-console .container-ventanas {
  position: absolute;
  top: -1px;
  left: 150px;
  width: 100%;
  height: 100%;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .ventana {
  position: relative;
  width: 180px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #3f3f3f;
  border-top: none;
  transition: 0.4s ease-in-out;
  border-bottom: none;
  display: inline-block;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .ventana
  h6 {
  position: absolute;
  top: 13px;
  left: 25px;
  color: #ccc;
  font-size: 0.8rem;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .ventana
  i.ri-arrow-right-s-line {
  position: absolute;
  top: 10px;
  font-size: 1.3rem;
  color: #ccc;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .ventana
  i.ri-close-line {
  position: absolute;
  top: 10px;
  left: 150px;
  font-size: 1.3rem;
  color: #ccc;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .ventana:hover {
  background-color: #3f3f3f;
  transition: 0.4s ease-in-out;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .container-more {
  position: absolute;
  top: 10px;
  left: 550px;
}

.container-home
  .container-content
  .container-console
  .container-ventanas
  .container-more
  i {
  color: #ccc;
  font-size: 1.3rem;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content {
  margin: 20px 40px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container {
  position: relative;
  padding: 8px 0;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(3)
  pre {
  padding-left: 20px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(4)
  pre {
  padding-left: 40px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(5)
  pre {
  padding-left: 20px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(8)
  pre {
  padding-left: 20px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(9)
  pre {
  padding-left: 40px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(10)
  pre {
  padding-left: 60px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(11)
  pre {
  padding-left: 60px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(12)
  pre {
  padding-left: 40px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container:nth-child(13)
  pre {
  padding-left: 20px;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span {
  font-size: 0.85rem;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span.tipo {
  color: var(--pink);
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span.variable {
  color: var(--green);
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span.coma {
  color: #ccc;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span {
  color: #ccc;
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span.parentesis {
  color: var(--gold);
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span.llaves {
  color: var(--purple);
}

.container-home
  .container-content
  .container-console
  .console
  .container-console-content
  .code-container
  pre
  span.item {
  color: var(--cyan);
}

.container-home .container-content .container-test {
  position: absolute;
  top: 1000px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.container-home .container-content .container-test .link {
  position: relative;
  border: 1px solid #000;
  padding: 15px 50px;
  border-radius: 5px;
  background-color: var(--green);
  color: #000;
  font-size: 1.2rem;
  font-weight: bold;
  transition: 0.4s ease-in-out;
  letter-spacing: 1.2px;
}

.container-home .container-content .container-test .link i {
  position: relative;
  top: 3px;
  font-size: 1.7rem;
  margin-right: 10px;
}

.container-home .container-content .container-test .link:hover {
  opacity: 0.8;
  transition: 0.4s ease-in-out;
}
